[data-theme="dark"] .highlight table td { padding: 5px; }
[data-theme="dark"] .highlight table pre { margin: 0; }
[data-theme="dark"] .highlight {
  color: #faf6e4;
  background-color: #122b3b;
}
[data-theme="dark"] .highlight .gl {
  color: #dee5e7;
  background-color: #4e5d62;
}
[data-theme="dark"] .highlight .gp {
  color: #a8e1fe;
  font-weight: bold;
}
[data-theme="dark"] .highlight .c, [data-theme="dark"] .highlight .ch, [data-theme="dark"] .highlight .cd, [data-theme="dark"] .highlight .cm, [data-theme="dark"] .highlight .cpf, [data-theme="dark"] .highlight .c1, [data-theme="dark"] .highlight .cs {
  color: #6c8b9f;
  font-style: italic;
}
[data-theme="dark"] .highlight .cp {
  color: #b2fd6d;
  font-weight: bold;
}
[data-theme="dark"] .highlight .err {
  color: #fefeec;
  background-color: #cc0000;
}
[data-theme="dark"] .highlight .gr {
  color: #cc0000;
  font-weight: bold;
  font-style: italic;
}
[data-theme="dark"] .highlight .k, [data-theme="dark"] .highlight .kd, [data-theme="dark"] .highlight .kv {
  color: #f6dd62;
  font-weight: bold;
}
[data-theme="dark"] .highlight .o, [data-theme="dark"] .highlight .ow {
  color: #4df4ff;
  font-weight: bold;
}
[data-theme="dark"] .highlight .p, [data-theme="dark"] .highlight .pi {
  color: #4df4ff;
}
[data-theme="dark"] .highlight .gd {
  color: #cc0000;
}
[data-theme="dark"] .highlight .gi {
  color: #b2fd6d;
}
[data-theme="dark"] .highlight .ge {
  font-style: italic;
}
[data-theme="dark"] .highlight .ges {
  font-weight: bold;
  font-style: italic;
}
[data-theme="dark"] .highlight .gs {
  font-weight: bold;
}
[data-theme="dark"] .highlight .gt {
  color: #dee5e7;
  background-color: #4e5d62;
}
[data-theme="dark"] .highlight .kc {
  color: #f696db;
  font-weight: bold;
}
[data-theme="dark"] .highlight .kn {
  color: #ffb000;
  font-weight: bold;
}
[data-theme="dark"] .highlight .kp {
  color: #ffb000;
  font-weight: bold;
}
[data-theme="dark"] .highlight .kr {
  color: #ffb000;
  font-weight: bold;
}
[data-theme="dark"] .highlight .gh {
  color: #ffb000;
  font-weight: bold;
}
[data-theme="dark"] .highlight .gu {
  color: #ffb000;
  font-weight: bold;
}
[data-theme="dark"] .highlight .kt {
  color: #b2fd6d;
  font-weight: bold;
}
[data-theme="dark"] .highlight .no {
  color: #b2fd6d;
  font-weight: bold;
}
[data-theme="dark"] .highlight .nc {
  color: #b2fd6d;
  font-weight: bold;
}
[data-theme="dark"] .highlight .nd {
  color: #b2fd6d;
  font-weight: bold;
}
[data-theme="dark"] .highlight .nn {
  color: #b2fd6d;
  font-weight: bold;
}
[data-theme="dark"] .highlight .bp {
  color: #b2fd6d;
  font-weight: bold;
}
[data-theme="dark"] .highlight .ne {
  color: #b2fd6d;
  font-weight: bold;
}
[data-theme="dark"] .highlight .nl {
  color: #ffb000;
  font-weight: bold;
}
[data-theme="dark"] .highlight .nt {
  color: #ffb000;
  font-weight: bold;
}
[data-theme="dark"] .highlight .m, [data-theme="dark"] .highlight .mb, [data-theme="dark"] .highlight .mf, [data-theme="dark"] .highlight .mh, [data-theme="dark"] .highlight .mi, [data-theme="dark"] .highlight .il, [data-theme="dark"] .highlight .mo, [data-theme="dark"] .highlight .mx {
  color: #f696db;
  font-weight: bold;
}
[data-theme="dark"] .highlight .ld {
  color: #f696db;
  font-weight: bold;
}
[data-theme="dark"] .highlight .ss {
  color: #f696db;
  font-weight: bold;
}
[data-theme="dark"] .highlight .s, [data-theme="dark"] .highlight .sb, [data-theme="dark"] .highlight .dl, [data-theme="dark"] .highlight .sd, [data-theme="dark"] .highlight .s2, [data-theme="dark"] .highlight .sh, [data-theme="dark"] .highlight .sx, [data-theme="dark"] .highlight .sr, [data-theme="dark"] .highlight .s1 {
  color: #fff0a6;
  font-weight: bold;
}
[data-theme="dark"] .highlight .sa {
  color: #f6dd62;
  font-weight: bold;
}
[data-theme="dark"] .highlight .se {
  color: #4df4ff;
  font-weight: bold;
}
[data-theme="dark"] .highlight .sc {
  color: #4df4ff;
  font-weight: bold;
}
[data-theme="dark"] .highlight .si {
  color: #4df4ff;
  font-weight: bold;
}
[data-theme="dark"] .highlight .nb {
  font-weight: bold;
}
[data-theme="dark"] .highlight .ni {
  color: #999999;
  font-weight: bold;
}
[data-theme="dark"] .highlight .w {
  color: #BBBBBB;
}
[data-theme="dark"] .highlight .go {
  color: #BBBBBB;
}
[data-theme="dark"] .highlight .nf, [data-theme="dark"] .highlight .fm {
  color: #a8e1fe;
}
[data-theme="dark"] .highlight .py {
  color: #a8e1fe;
}
[data-theme="dark"] .highlight .na {
  color: #a8e1fe;
}
[data-theme="dark"] .highlight .nv, [data-theme="dark"] .highlight .vc, [data-theme="dark"] .highlight .vg, [data-theme="dark"] .highlight .vi, [data-theme="dark"] .highlight .vm {
  color: #a8e1fe;
  font-weight: bold;
}
